@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 user-select: none;
 font-family: 'Roboto', serif;
}
#landingpage-Body{
 background: #3BC57A;
}
@media (max-width: 320px) {
  #main-attraction{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 5rem;
   }
   #main-attraction img{
    height: 20rem;
   }
   #main-attraction span{
     font-size: 30px;
     display: inline-block;
     margin-bottom: 1rem;
   }
   #main-attraction a{
     text-decoration: none;
   }
   .viewMore-btn{
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: grey;
    font-size: 20px;
   }
  
   /* Home page */
   #homepage-body{
    background-color: white;
    padding: 1rem 0.5rem;
    overflow: hidden;
   }
   .headbar{
    display: flex;
    justify-content: space-between;
   }
   #Work-Place{
    display: inline-block;
    margin-top: 2rem;
    font-size: 40px;
   }
   #choose-your-meal{
    display: inline-block;
    display: block;
    font-size: 20px;
   }
   .cartNotification{
    i{
      position: relative;
    }
    #item-count{
      position: absolute;
      top: 0;
      background-color: red;
      padding: 0.2rem 0.3rem;
      border-radius: 50%;
    }
  
   }
   .food-Grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
   }
   .food-choice{
    border: 1px grey solid;
    padding: 0.5rem;
    border-radius: 10px;
   }
   .foodChoice{
    display: flex;
    justify-content: space-between;
   }
   .food-choice img{
    margin-top: 1rem;
    border-radius: 20%;
    height: 12rem;
    width: 12rem;
    display: flex;
    justify-self: center;
   }
   .description{
    margin-top: 1rem;
   }
   .description .food-name{
    font-size: 20px;
    color: grey;
    display: inline-block;
    margin-bottom: 0.5rem;
   }
   .purchase .price{
    display: block;
    color: green;
    font-size: 25px;
   }
   .purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .add-to-list{
    border-radius: 50%;
    background-color: grey;
    color: white;
    width: 2rem;
    height: 2rem;
    border: none;
   }
  
   .fa-solid{
    font-size: 30px;
   }
   /* .fa-solid fa-heart */
   .fa-regular{
    font-size: 30px;
   }
   .uil{
    font-size: 25px;
   }
   #cart{
    width: 90%;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    background-color: maroon;
    color: white;
    /* margin-top: 6rem; */
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    /* right: 50%; */
  
    hr{
      color: white;
      height: 0.01rem;
      margin-top: 1rem;
    }
   }
   #displayTotal{
    display: flex;
    justify-content: space-between;
   }
   #checkout{
    padding: 1rem;
    border-radius: 15px;
    border: none;
    margin-top: 1rem;
    background-color: rgb(90, 43, 43);
    color: white;
    display: flex;
    justify-self: center;
   } 
}

@media (min-width: 321px) and (max-width: 767px) {

 /* landing page */
 #main-attraction{
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 5rem;
 }
 #main-attraction img{
  height: 20rem;
 }
 #main-attraction span{
   font-size: 30px;
   display: inline-block;
   margin-bottom: 1rem;
 }
 #main-attraction a{
   text-decoration: none;
 }
 .viewMore-btn{
  display: flex;
  justify-self: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  color: grey;
  font-size: 20px;
 }

 /* Home page */
 #homepage-body{
  background-color: white;
  padding: 1rem 0.5rem;
 }
 .headbar{
  display: flex;
  justify-content: space-between;
 }
 #Work-Place{
  display: inline-block;
  margin-top: 2rem;
  font-size: 40px;
 }
 #choose-your-meal{
  display: inline-block;
  display: block;
  font-size: 20px;
 }
 .cartNotification{
  i{
    position: relative;
  }
  #item-count{
    position: absolute;
    top: 0;
    background-color: red;
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
  }

 }
 .food-Grid{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
 }
 .food-choice{
  border: 1px grey solid;
  padding: 0.5rem;
  border-radius: 10px;
 }
 .foodChoice{
  display: flex;
  justify-content: space-between;
 }
 .food-choice img{
  margin-top: 1rem;
  border-radius: 50%;
  height: 9.5rem;
  width: 9.5rem;
 }
 .description{
  margin-top: 1rem;
 }
 .description .food-name{
  font-size: 20px;
  color: grey;
  display: inline-block;
  margin-bottom: 0.5rem;
 }
 .purchase .price{
  display: block;
  color: green;
  font-size: 25px;
 }
 .purchase{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .add-to-list{
  border-radius: 50%;
  background-color: grey;
  color: white;
  width: 2rem;
  height: 2rem;
  border: none;
 }

 .fa-solid{
  font-size: 30px;
 }
 /* .fa-solid fa-heart */
 .fa-regular{
  font-size: 30px;
 }
 .uil{
  font-size: 25px;
 }
 #cart{
  width: 90%;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  background-color: maroon;
  color: white;
  /* margin-top: 6rem; */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  /* right: 50%; */

  hr{
    color: white;
    height: 0.01rem;
    margin-top: 1rem;
  }
 }
 #displayTotal{
  display: flex;
  justify-content: space-between;
 }
 #checkout{
  padding: 1rem;
  border-radius: 15px;
  border: none;
  margin-top: 1rem;
  background-color: rgb(90, 43, 43);
  color: white;
  display: flex;
  justify-self: center;
 }
 
}